# Виртуальное окружение
venv/
env/
1env/

# Кэш Python
__pycache__/
*.pyc

# Файлы среды
.env

# Файлы IDE
.vscode/
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы с анализом (если вы не хотите их включать в репозиторий)
*_analysis.json